* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 8px;
}
table {
    border-collapse: collapse;
    border: 1px solid;
}
td {
    background-color: #cccccc;
}
tr td{
    border: 1px solid;
}
.one-two-width {
    width: 35px;
}
.size-survivors-td td{
    width: 66px;
    
}
.width-td-element td {
    width: 70px;
}
.text-align-justify {
    text-align: center;
}
.letter-spacing {
    letter-spacing: 10px;
}
.letter-upper {
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}
caption {
    font-size: 25px;
}
.span-left {
    float: left;
    margin-left: 5px;
}
.span-right{
    float: right;
    margin-right: 5px;
}
.text-vertical {
    transform: rotate(270deg);
    font-size: 8px;
    padding: 0;
    width: 50px;
    position: absolute;
    bottom: 17px;
}
.td-height {
    height: 51px;
    vertical-align: top;
}
.td-height h3,h4, p {
    display: inline-block;
}
.left-alignment h3 {
        
}
.vertical-middle {
    vertical-align: middle;
    text-align: center;
}
.size-name-element{
    font-size: 9px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}
.size-value-element {
    font-size: 8.5px;
}
.line-height {
    line-height: 0.7;
}
.number-element {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
    font-weight: bold;
    font-size: 12px;
}
.td-element-pink {
    padding-left: 3px;
    background-color: #fa6997;
}
.td-element-yellow {
    padding-left: 3px;
    background-color: #feff04;
}
.td-element-blue {
    padding-left: 3px;
    padding-right: 3px;
    background-color: #2d99fb;
    text-align: right;
}
.number-element-blue {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    font-weight: bold;
    font-size: 12px;
}
td-element-blue h3{
    float: right;
}
.td-element-green  span{
    font-size: 8.5px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}
.td-element-green {
    text-align: center;
    padding-top: 5px;
    background-color: #94ce00;
}